{% extends "laboratorio/base_generic.html" %}

{% block title %}Lista de Laboratorios{% endblock %}

{% block content %}
    <h2>Lista de Laboratorios</h2>
    <a href="{% url 'laboratorio_create' %}" class="btn">Crear Nuevo Laboratorio</a>
    <table class="table">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Ciudad</th>
                <th>País</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for laboratorio in laboratorios %}
                <tr>
                    <td>{{ laboratorio.nombre }}</td>
                    <td>{{ laboratorio.ciudad }}</td>
                    <td>{{ laboratorio.pais }}</td>
                    <td>
                        <a href="{% url 'laboratorio_detail' laboratorio.pk %}">Ver</a> |
                        <a href="{% url 'laboratorio_update' laboratorio.pk %}">Editar</a> |
                        <a href="{% url 'laboratorio_delete' laboratorio.pk %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'home' %}"><-- Ir a la pagina de Inicio</a>
{% endblock %}
